.myTurnsContainer {
  text-align: center;
  padding: 20px;
  background-color: rgba(177, 169, 169, 0.456);
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.noTurnsMessage {
  color: lightgray;
  font-size: 1.5em;
  margin-top: 50px;
}
