.myTurnsContainer {
  text-align: center;
  padding: 20px;
}

.myTurnsTitle {
  font-size: 2em;
  border-bottom: 1px solid #550000;
  margin: 1em 1em;
  color: #550000;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.noTurnsMessage {
  color: rgba(0, 0, 0, 0.731);
  font-size: 1.5em;
  margin-top: 20px;
}
