.myTurnsContainer {
  text-align: center;
  padding: 20px;
}

.myTurnsTitle {
  font-size: 2em;
  border-bottom: 1px solid black;
  margin: 1em 1em;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.noTurnsMessage {
  color: lightgray;
  font-size: 1.5em;
  margin-top: 50px;
}
