.titulos {
  font-size: 2em;
  border-bottom: 1px solid #550000;
  margin: 2em 1em 0 1em;
  color: #550000;
}

.parrafoHistoria {
  font-size: 1.3em;
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

/* Contenedor de las fotos */
.contenedorFotos {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 15px; 
  margin: 2em 0;
}


.fotoAerea {
  width: 100%; 
  max-width: 500px;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.fotoVertical {
  width: 100%; 
  max-width: 300px; 
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .fotoAerea {
    flex-basis: calc(33.333% - 15px);
    height: 300px; 
  }

  .fotoVertical {
    flex-basis: calc(33.333% - 15px);
    height: 300px;
  }
}
