.reservationFormContainer {
  padding: 25px;
  width: 100%;
  max-width: 500px;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 20px auto;
}

.formTitle {
  font-size: 2em;
  color: #550000;
  margin-bottom: 20px;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #550000;
  margin: 1em 1em;
  margin-top: 2em;
}

.inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formLabel {
  font-weight: bold;
  color: #555;
  margin-bottom: 8px;
  display: block;
  font-size: 1.1em;
}

.formInput {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1.1em;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.formInput:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25), 0 3px 8px rgba(0, 0, 0, 0.1);
}

.reservationButton {
  background-color: #55000088;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  align-self: center;
  width: 100%;
  max-width: 250px;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.25);
}
.reservationButton:hover {
  background-color: #550000;
  box-shadow: 0 6px 15px rgba(0, 123, 255, 0.35);
}

.reservationButton:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.7;
  box-shadow: none;
}

.errorMessage {
  color: #dc3545;
  font-size: 0.9em;
  margin-top: 5px;
  text-align: left;
  display: block;
  margin-left: 1em;
}
